.demo_pag1 {
    width: 750px;
    padding: 10px;
}

.demo_pag2 {
    width: 600px;
    padding: 20px;
}

.tools {
    margin-top: 10px;
    margin-bottom: 10px;
}

.demo_pag1_alt1 {
    width: 900px;
    padding: 40px;
    border: solid blue 1px;
}

.demo_pag1_slider {
    width: 500px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.wrap1 {
    overflow: auto;
    width: 620px;
}

.list2 {
    width: 570px;
    height: 300px;
    border: solid black 1px;
    float: left;
}

.slider2 {
    height: 270px;
    float: left;
    margin-left: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.navpane2 {
    width: 550px;
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
}