.demo_pag1 {
    width: 700px;
    padding: 10px;
}

.demo_pag2 {
    width: 600px;
    padding: 20px;
}

.tools {
    margin-top: 10px;
    margin-bottom: 10px;
}

.demo_pag1_alt1 {
    width: 800px;
    padding: 40px;
}